html {
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
    font-size: 20px;
	background-position: center center;
    font-family: sans-serif;
}

.chat {
    padding: 20px;
}

.chat__popup {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 50%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 15px;
    min-width: 270px;
}

.form__label {
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    display: block;
}

.form__field, .chat__field {
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
}

.form__field:invalid {
    border-color: #900;
}

.form__field:focus:invalid, .form__field:focus:valid  {
    border-color: black;
  }

.form__field:valid {
    border-color: rgb(30, 197, 24);
}

.form__hint {
    display: none;
    color: red;
}

.form__submit {
    all: unset;
    cursor: pointer;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 25px;
    background-color:white;
    margin: 20px auto 0;
    width: 70%;
    height: 40px;
    box-sizing: border-box;
    padding: 5px 40px;
    text-align: center;
}

.form__submit:hover {
    background-color:green;
}

.chat__container {
    display: none;
    min-width: 300px;

}

.chat__list {
    min-width: 300px;
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    list-style-type: none;
    background-color: white;
    position: relative;
    padding: 20px;
}

.chat__window {
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    min-width: 50%;
    top: 5%;
    left: 300px;
    padding: 20px;
}

.your-message {
    text-align: end;
}

.message__info {
    font-size: small;
    display: block;
    color: blue;
}

.message__text {
    display: block;
    margin-top: 7px;
    margin-bottom: 40px;
}

.chat__field {
    border-radius: 15px;
    padding: 10px;
}

.active {
    display: block;
}

